<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Form Input Template</title>
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!--<script src="../static/js/bootstrap.min.js"></script>-->
    <!--<script src="../static/js/jquery-3.3.1.slim.min.js"></script>-->
    <!--<script src="../static/js/popper.min.js"></script>-->
  </head>
  <body>
    <div id="banner" class="container">
      <h1 class="display-4">ItBeLikeThatSometimes</h1>
      <form action="" method="get" class="form-example"></form>

    <div class="container">
      <form action="{{ url_for('process_inputs') }}" method="post">
         <div class="form-group">
            <label for="Age">What is your age </label>
            <input class="form-control" name="input_dropdown" id="input_dropdown" required>
            <option>You got ligma</option>
            <option>You got ligma</option>
        </select>
    </div>
        <div class="form-group">
          <label for="input_name">Full Name</label>
          <input type="text" class="form-control" name="input_name"  id="input_name" placeholder="The Cat In The Hat">
        </div>
        <div class="form-group">
          <label for="input_dropdown">What Was Your OUF?</label>
          <select class="form-control" name="input_dropdown" id="input_dropdown" placeholder="Your OUF">
            <option>You got ligma</option>
            <option>You gave your opinion</option>
            <option>You skrattah deu flouradeu mane</option>
            <option>You forgot to leave your socks on</option>
          </select>
        </div>
        <div class="form-group">
          <label for="input_select">Choose Your Fighter</label>
          <select class="form-control" name="input_dropdown" id="input_dropdown" placeholder="Your Fighter">
            <option>Orange shirt guy</option>
            <option>Forever alone guy</option>
            <option>Mr. Beast</option>
            <option>Bongo cat</option>
            <option>tracer</option>
          </select>
        </div>
        <div class="form-group">
          <label for="input_freeform">Example textarea</label>
          <textarea class="form-control" name="input_freeform" id="input_freeform" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="container">
      {% if input_data %} {{ input_data }} {% endif %}
      <br />
      {% if output %} {{ output }} {% endif %}
    </div>
  </body>
</html>

